* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
            background-color: white;
            
        }

        img, video {
            max-width: 100%;
            height: auto;
            display: block;
        }

        body {
            overflow-x: hidden;
            background-color: #f8f9fa;
        }

        header {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            background: white;
            box-shadow: 0 0.2vh 0.8vh rgba(0,0,0,0.1);
            height: 80px;
        }

        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 8vw;
            height: 80px;
            max-width: 1600px;
            margin: 0 auto;
        }

        .logo {
            height: 60px;
            width: auto;
        }

        .nav-links ul {
            display: flex;
            gap: 3vw;
            list-style: none;
            align-items: center;
        }

        .nav-links ul li a {
            text-decoration: none;
            color: #09989e;
            font-weight: 600;
            font-size: 18px;
        }

        .nav-links ul li::after {
            content:'';
            width:0%;
            height: 0.3vh;
            background: #09989e;
            display: block;
            margin:auto;
            transition:0.5s;
        }

        .nav-links ul li:hover::after {
            width:100%;
        }

        .right-buttons {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }

        .profile-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-wrapper{
    margin-top: -385px;
}
.profile {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
        .menu-toggle {
            display: none;
            font-size: 28px;
            background: none;
            border: none;
            color: #09989e;
            cursor: pointer;
        }
.background{
     margin: 0; /* маха бялата рамка около страницата */
      height: 100vh; /* заема целия прозорец на браузъра */
      background-image: url('Group 15 (2).png'); /* тук сложи името на твоята снимка */
      background-size: cover; /* картинката покрива целия екран */
      background-position: center; /* центрира я */
      background-repeat: no-repeat; /* не се повтаря */
      z-index: 1;
       position: relative;
}
.phone img{
    position: absolute; /* позиционира снимката спрямо .background */
 width:70%;
    top: 47%; /* центрира вертикално */
   left: 31%;
  z-index: 2; /* по-голям z-index от background → ще е отгоре */
  width: 500px;
 
  transform: translate(-50%, -50%);
    background: transparent;
}