* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    width: 70vw;
    height: 70vh;
    max-width: 31.25rem; 
    padding: 1.25rem 1.875rem;
    background-image: url(Registration-Form.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0.125rem 0.125rem 0.9375rem rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 9999;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


.popup .close-btn {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #888;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    line-height: 1.25rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10000;
}



.tab-header {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
    width: 60%; 
    max-width: 16rem; 
    display: flex;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tab-btn {
    flex-grow: 1;
    padding: 0.3rem 0;
    border: none;
    outline: none;
    font-size: 0.7rem;
    cursor: pointer;
    background: #f5f5f5; /* Неактивен фон */
    color: #444;
    transition: background 0.3s, color 0.3s;
    
}

/* Активен таб */
.tab-btn.active {
    background: #222; /* Активен цвят */
    color: #f5f5f5;
    font-weight: 600;
}

.login-form-container,
.register-form-container {
    position: absolute; 
    top: 55%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; 
    max-width: 16rem;
    text-align: center;
    
    
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.login-form-container.active,
.register-form-container.active {
    display: block;
    opacity: 1;
}


.login-form-container h3,
.register-form-container h3 {
    margin-bottom: 0.5rem;
    color: #222;
}


.login-form-container .form-element,
.register-form-container .form-element {
    margin: 0.8rem 0;
}

.login-form-container .form-element label,
.register-form-container .form-element label {
    font-size: 0.875rem;
    color: #222; 
}


.login-form-container .form-element input[type="text"],
.login-form-container .form-element input[type="password"],
.login-form-container .form-element input[type="email"],
.register-form-container .form-element input[type="text"],
.register-form-container .form-element input[type="password"],
.register-form-container .form-element input[type="email"] {
    margin-top: 0.3125rem;
    display: block;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: 0.0625rem solid #aaa;
    border-radius: 0.3125rem;
    font-size: 0.9rem;
    align-items: center;
}


.login-form-container .form-element input[type="checkbox"],
.register-form-container .form-element input[type="checkbox"] {
    margin-right: 0.3125rem;
}


.login-form-container .form-element button,
.register-form-container .form-element button {
    width: 100%;
    height: 2.2rem;
    border: none;
    outline: none;
    font-size: 0.9rem;
    background: #222;
    color: #f5f5f5;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 10px;
}

.login-form-container .form-element button:hover,
.register-form-container .form-element button:hover {
    background: #444;
}


a:-webkit-any-link {
    display: block;
    text-align: right;
    font-size: 0.875rem;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    align-self: center;
}


@media (max-width: 768px) {
    .popup {
        width: 85vw;
        height: 65vh;
        max-width: 25rem;
        padding: 1rem;
    }

    .login-form-container,
    .register-form-container {
        width: 70%;
    }

    .login-form-container .form-element label,
    .login-form-container .form-element input,
    .login-form-container .form-element button,
    .register-form-container .form-element label,
    .register-form-container .form-element input,
    .register-form-container .form-element button {
        font-size: 0.85rem;
    }
}

@media (max-width: 480px) {
    .popup {
        width: 90vw;
        height: 60vh;
        max-width: 20rem;
    }

    .popup .close-btn {
        top: 0.5rem;
        right: 0.5rem;
    }

    .login-form-container,
    .register-form-container {
        width: 48%;
 
    }
.tab-btn {
    font-size: 0.65rem;
    height: 4vh;
}
.login-form-container .form-element input[type="text"],
.login-form-container .form-element input[type="password"],
.login-form-container .form-element input[type="email"],
.register-form-container .form-element input[type="text"],
.register-form-container .form-element input[type="password"],
.register-form-container .form-element input[type="email"] {
    margin-top: 0.3125rem;
    width: 100%;
    padding: 0.5rem;
    border: 0.0625rem solid #aaa;
    font-size: 0.9rem;
}
}




