
*{
    font-family: 'Montserrat';
}header {
  display: flex;
  justify-content: space-between;
  align-items: center; 

  
}

.logo {
  width: 10.94vw;
  height: auto;
  margin-top: 3.33vh;
  margin-left: 12.81vw;
}

nav{
    display:flex;
   margin-right: 0vw;
 margin-top: 6vh;
    justify-content: space-between;
    align-items: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 20px;
  
}

.nav-links ul li a {
  color: #09989e;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height: 3px;
    background:  #09989e;
    display: block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.profile{
    
    margin-right: 12.81vw;
    width: 2.34vw;
    height: auto;

}
.menu-container {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 6vh;
}
.home{
  height: 70vh;
  margin-top: 7vh;
}
.mission{
  height:23vh;
  background-color: #84AEAD;
  h1{
    color:#fff;
    text-align: center;
padding-top: 3vh;
    font-weight: bold;
    font-size: 20px;
  }
  p{
    color:#fff;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
   
  }
}