* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
          
            
        }

        img, video {
            max-width: 100%;
            height: auto;
            display: block;
        }

        body {
            overflow-x: hidden;
            background-color: white !important;
        }

        header {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            background: white;
            box-shadow: 0 0.2vh 0.8vh rgba(0,0,0,0.1);
            height: 80px;
        }

        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 8vw;
            height: 80px;
            max-width: 1600px;
            margin: 0 auto;
        }

        .logo {
            height: 60px;
            width: auto;
        }

        .nav-links ul {
            display: flex;
            gap: 3vw;
            list-style: none;
            align-items: center;
        }

        .nav-links ul li a {
            text-decoration: none;
            color: #09989e;
            font-weight: 600;
            font-size: 18px;
        }

        .nav-links ul li::after {
            content:'';
            width:0%;
            height: 0.3vh;
            background: #09989e;
            display: block;
            margin:auto;
            transition:0.5s;
        }

        .nav-links ul li:hover::after {
            width:100%;
        }

        .right-buttons {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }

        .profile-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.image-wrapper{
    margin-top: -385px;
}
.profile {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
        .menu-toggle {
            display: none;
            font-size: 28px;
            background: none;
            border: none;
            color: #09989e;
            cursor: pointer;
        }
   .hero {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("Group 23(4).png") no-repeat center center/cover;
    z-index: 1;
    
}
.steps h1{
    font-size: 30px;
    color: #8274A1;
    text-align: center;
    margin-top: 80px;
   
}
.p1{
    font-size: 20px;
    color: #09989e;
    text-align: center;
    margin-top: 20px;
   
}
.img1 img{
    margin-top: 50px;
    margin-left: 195px;
 
    width: 90%;
    height: 90%;
}
.img2 img{
    margin-top: -300px;
    width: 90%;
    height: 90%;
}
.img3 img{
    margin-top: -270px;
    margin-left: 195px;
    width: 90%;
    height: 90%;
}
.p2{
    margin-top: 30px;
    line-height: 1.2;
    font-size: 32px;
    color: #8274A1;
    text-align: center;
    font-family: "Caveat", sans-serif;
}
.h2{
    margin-top: 80px;
    font-size: 30px;
    color: #09989e;
    text-align: center; 
}
.ball{
    position: relative;
    width: 100%;
    height: 50%;
    background: url("Group 28.png") no-repeat center center/cover;
    z-index: 1;
    margin-top: 150px;
}
.ball h1{
  
    font-size: 30px;
    color: #8274A1;
    text-align: center;
     position: absolute;
    top: 130px; /* местиш надолу */
     left: 50%;
    transform: translateX(-50%);
}
.ball p{
  
    font-size: 20px;
    color: #E3D7E8;
    text-align: center;
     position: absolute;
    top: 230px; /* местиш надолу */
     left: 50%;
    transform: translateX(-50%);
}
.notes h1{
     font-size: 30px;
      color: #09989e;
      text-align: center;
      position: relative;
      margin-top: 80px;
}
.chek{
    position: absolute;
     left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    
}